/*Root Variables */
:root {
  --primary: #101314;
  --bright: #FFFFFA;
  --secondary: #bebdbd;
  --tertiary: #777777;
  --quaternary: #e7e7e7;
  --light-gray: #f0f0f0;
  --gray: #b1b1b1;
  --dark-gray: #1d1c1c;
  --medium-gray: #cacaca;
  --highlight: rgb(240, 240, 240);
}

/* Global Styles */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary);
}

a {
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  width: 80%;
}

/* Section Container */
section .container-fluid {
  padding: 3% 10%;
}

/* Header */
.headerFlex, .orderFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerIcon, .headersIcon {
  font-size: x-large;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 7px;
}
.headersIcon{
  gap:2px
}

/* Search */
.activeSearch {
  position: fixed;
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bright);
  z-index: 3;
}

.searchDiv {
  display: flex;
  justify-content: space-between;
}

.searchLink {
  background: none;
  margin: 0;
}

/* Category */
.category {
  width: 100%;
}

.categoryFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

.categoryMain {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.categoryProduct {
  background: var(--bright);
  border-radius: 20px;
  height: 80px;
  width: 100%;
  box-shadow: 5px 7px var(--secondary);
}

.categoryProductImage {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

/* badg badge */

.togglerbadge, .badge {
  position: absolute;
  padding: 2px 4px;
  top: 22px;
  border-radius: 50%;
  background: var(--bright);
  font-size: 12px;
  color: var(--primary);
}

.togglerbadge {
  padding: 0;
  top: 40px;
}

@media (max-width: 991px) {
  .badge {
    top: 18px;
  }

  .togglerbadge {
    top: 10px;
  }
}

@media (min-width: 700px) and (max-width: 991px) {
  .togglerbadge {
    top: 15px;
  }
}

@media (min-width: 992px) and (max-width: 1290px) {
  .togglerbadge {
    top: 30px;
  }
}

/* Fonts */
.sacramento {
  font-family: "Sacramento", cursive;
  font-weight: 400;
  font-style: normal;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-transform: capitalize;
  font-size: x-large;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  margin: 15px 0px;
  text-transform: capitalize;
  color: var(--primary);
}

/* Form */
form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

form input, form select {
  padding: 3px;
  width: 100%;
  border: solid 0.2px var(--gray);
}

.outline-btn {
  border: var(--primary) solid 1.5px;
  background: none;
  border-radius: 4px;
  color: var(--primary);
}

.outline-btn, .full-btn {
  padding: 1%;
  display: block;
  text-align: center;
  margin: 1% 2% 1% 0;
  min-width: 100px;
  text-decoration: none;
}

nav .outline-btn, nav .full-btn {
  margin-top: 7%;
}

.full-btn {
  background: var(--primary);
  border-radius: 5px;
  border: none;
  color: var(--bright);
}

.rootsection {
  min-height: 100vh;
}

/* Grid Product */
.gridProduct {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
}

@media (max-width: 600px) {
  .gridProduct {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .productImage {
    max-height: 100px;
  }

  .productDetail {
    min-height: 100px;
  }
}

@media (max-width: 400px) {
  .gridProduct {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .ubuntu, .headerIcon{
    font-size: large;
  }
}

.product {
  background: var(--bright);
  border-radius: 20px;
}

.productDetail {
  padding: 1px 0px 10px 10px;
}

.productImage img, .categoryProductImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productImage {
  background: var(--quaternary);
  border-radius: 20px 20px 0 0;
  width: 100%;
  overflow: hidden;
  text-align: center;
  height: 200px;
}

/* Header Carousel */
.header-carousel {
  height: 60vh;
}

@media (max-width: 800px) {
  .header-carousel {
    height: 20vh;
  }
}

.header-carousel-item1, .header-carousel-item2, .header-carousel-item3 {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--bright);
  height: 100%;
}

.backdrop {
  backdrop-filter: brightness(65%) contrast(110%) blur(1px);
  width: 100%;
  height: 100%;
  color: var(--bright);
  margin: 0;
}

.backdrop .col-6 {
  padding: 5% 0% 0% 5%;
  font-size: 2.0vw;
}

.better {
  color: var(--bright);
}

/* Cart and Subtotal */
.cartDiv, .subtotal, .orderDiv {
  background: var(--light-gray);
  margin: 20px 0px;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

.cartSubDiv .orderSubDiv {
  width: 50%;
}

.subtotal div, .summary span {
  color: var(--tertiary);
}

.cartDiv img{
  width: 80%;
}

/* Load Div */
.loadDiv {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: var(--bright);
}

.loadDiv span {
  font-size: 30px;
  background: var(--medium-gray);
  padding: 5px 12px;
  border-radius: 50%;
  animation: pulse 2s infinite;
}

/* #navbar */
nav .container-fluid{
  padding: 0 10%;
}
#navBottom {
  background: var(--primary);
  width: max-content;
  display: block;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  border-radius: 1rem;
  backdrop-filter: blur(1px);
  cursor: pointer;
}

#navBottom a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  font-size: 2.0rem;
}

#navBottom a:hover {
  background: var(--dark-gray);
}

#navBottom a {
  color: var(--bright);
}

@media (max-width: 600px) {
  #navBottom {
    padding: 0.3rem 1.3rem;
    gap: 0.3rem;
  }

  #navBottom a {
    font-size: 1.5rem;
  }
}

/* Footer */
#footer {
  background: var(--secondary);
  color: black;
}

#footer input {
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 7px 10px;
  margin: 2px 0;
}

.footerFlex{
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}



/* order order order order */
.orderProducts{
  border: solid 1px var(--medium-gray);
  padding:  0 5px;
  border-radius: 20px;
}
.orderProduct{
  margin-bottom: 15px;
}
.orderDiv img {
  width: 10%;
  background: var(--secondary);
  border-radius: 5px;
}
.orderSubDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}